/*Custom Fonts */

@font-face {
    font-family: 'hanskendrick-regular';
    src: url('../fonts/hanskendrick-regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/hanskendrick-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/hanskendrick-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/hanskendrick-regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/hanskendrick-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/hanskendrick-regular.svg#hanskendrickRegularSvg') format('svg');
    /* Legacy iOS */
}

body {
    color: #333;
    font-family: 'Muli', sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 16px;
}


/*Starts General Css*/

.main-title {
    font-family: 'hanskendrick-regular';
    font-size: 7rem;
    font-weight: 300;
    letter-spacing: 0.05em;
    line-height: 1.2;
    margin-bottom: 10px;
}

.fz-52 {
    font-size: 52px;
}

.fz-48 {
    font-size: 48px;
}

.fz-42 {
    font-size: 42px;
}

.fz-30 {
    font-size: 30px;
}

.fz-24 {
    font-size: 24px;
}

.fz-21 {
    font-size: 21px;
}

.fz-18 {
    font-size: 18px;
}

.main-title {
    font-family: "hanskendrick-regular";
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    text-align: center;
}

.main-title span {
    color: #ed1556;
}

.title-divider {
    margin-bottom: 50px;
}

.title-divider span {
    background: #b5b2b1;
}

.title-divider span {
    display: inline-block;
    position: relative;
}

.title-divider span:nth-child(1) {
    height: 1px;
    width: 40px;
}

.title-divider span:nth-child(2) {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    height: 8px;
    margin-left: 5px;
    margin-right: 5px;
    top: 3px;
    width: 8px;
}

.title-divider span:nth-child(3) {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    height: 15px;
    top: 6px;
    width: 15px;
}

.title-divider span:nth-child(4) {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    height: 8px;
    margin-left: 5px;
    margin-right: 5px;
    top: 3px;
    width: 8px;
}

.title-divider span:nth-child(5) {
    height: 1px;
    width: 40px;
}

.line {
    background: #b2b5b1;
    display: block;
    height: 1px;
    margin: 10px 0;
}

.line-50 {
    width: 50px;
    background: #ed1556;
}

h3.secondary-title {
    border-bottom: 1px solid #dcdcdc;
    margin: 20px 0;
    padding-bottom: 10px;
    position: relative;
}

h3.secondary-title::before {
    background: #ed1556;
    bottom: -1px;
    content: "";
    height: 1px;
    position: absolute;
    width: 60px;
}


/*Ends General Css*/


/*Starts Header Css*/

.slogan {
    background: #6441A5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #6441A5, #2a0845);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #6441A5, #2a0845);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffffff;
    display: none;
    font-size: 18px;
    overflow: hidden;
    padding: 40px 0;
    position: relative;
    z-index: 5;
}

.slogan p {
    margin: 0 60px;
    text-align: center;
}

.slogan .fa {
    color: #411f5f;
    font-size: 90px;
    position: absolute;
    top: 29px;
    z-index: -1;
}

.slogan .fa.fa-quote-left {
    left: 0;
}

.slogan .fa.fa-quote-right {
    right: 0;
}

.slogan-toggle {
    bottom: 0;
    display: table;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -8px;
    width: 30px;
    z-index: 1000;
}

.slogan-toggle a {
    background: #ffffff;
    border: 1px solid #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    color: #000000;
    display: block;
    font-size: 12px;
    height: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    width: 20px;
}

.header .top .right .social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header .top .right .social ul li {
    display: inline-block;
    margin-right: 15px;
}

.header .top .right .social ul li:last-child {
    margin-right: 0;
}

.header .top .right .social ul li a {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
}

.header .top {
    background: #1b5e20;
    height: 40px;
    line-height: 40px;
}

.header .top .left ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header .top .left ul li {
    display: inline-block;
    margin-right: 15px;
}

.header .top .left ul li:last-child {
    margin-right: 0;
}

.header .top .left ul li span {
    color: #ffffff;
    font-size: 14px;
    margin-left: 10px;
}

.header .top .right .social ul li.search-open {
    position: relative;
}

.header .top .right .social ul li.search-open .search-box {
    background: #2a2a2b;
    display: none;
    padding: 20px;
    position: absolute;
    top: 40px;
    width: 270px;
    z-index: 200;
}

.header .top .right .social ul li.search-open .search-box .search-close {
    margin-bottom: 15px;
}

.header .top .right .social ul li.search-open .search-box input {
    border: 0 none;
    border-radius: 0;
    height: 40px;
}

.header .top .right .social ul li.search-open .search-box input[type="submit"] {
    background: #b71c1c;
    color: #ffffff;
    font-size: 18px;
}

.main-menu {
    background: #388e3c;
    height: 80px;
    line-height: 80px;
}

.logo {
    margin: 10px 0 0;
}

.main-menu .navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-menu .navigation ul li {
    display: inline-block;
    margin-right: 10px;
}

.main-menu .navigation ul li:last-child {
    margin-right: 0;
}

.main-menu .navigation ul li a {
    color: #ffffff;
    display: block;
    text-decoration: none;
}

.main-menu .navigation ul li.active a,
.main-menu .navigation ul li:hover a,
.main-menu .navigation ul li:focus a {
    color: #f8bbd0;
}


/* Effect 1: Brackets */

.cl-effect-1 a::before,
.cl-effect-1 a::after {
    color: #f8bbd0;
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.cl-effect-1 a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}


/*Ends Header Css*/


/*Starts Banner Css*/

.banner {
    position: relative;
    top: -1px;
}

.banner .slider .item img {
    display: block;
    width: 100%;
    height: auto;
}

.banner .intro {
    background: #303030;
    color: #fff;
    font-family: "hanskendrick-regular";
    margin-top: -40px;
    padding: 20px 0 0;
}

.banner .intro .intro-bg {
    background: rgba(0, 0, 0, 0) url("../img/banner-intro-bg.png") no-repeat scroll center bottom;
    height: 45px;
}

.banner .search {
    background: rgba(0, 0, 0, 0.5);
    bottom: 230px;
    font-family: 'hanskendrick-regular';
    max-width: 1170px;
    padding: 13px;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.banner .search .form-group {
    margin: 0;
}

.banner .search .form-group .form-control,
.banner .search .form-group input.btn {
    border-radius: 0;
}

.banner .search .form-group select {
    background: #ffffff url("../img/search-caret-icon.png") no-repeat scroll 90% 20px;
    font-size: 20px;
    height: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.banner .search .form-group input.btn {
    background-color: #027cc5;
    border-color: #027cc5;
    font-size: 20px;
    height: 50px;
    line-height: 35px;
}

.banner .caption {
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    max-width: 780px;
    padding: 40px;
    position: absolute;
    top: 50%;
    z-index: 10000;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
}

.banner .caption h1 {
    color: #ed1556;
    font-family: "hanskendrick-regular";
    margin: 0 0 10px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
}

.banner .caption h1 span {
    color: #027CC5;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
}

.banner .caption h4,
.banner .caption h5 {
    font-family: 'hanskendrick-regular';
    margin: 0 0 10px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
}

.banner .slider .owl-controls .owl-buttons div {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #003b63;
    font-size: 0;
}

.banner .slider .owl-prev::before {
    color: #fff;
    content: "";
    font-family: fontawesome;
    font-size: 50px;
    left: 10px;
    position: absolute;
    top: -35px;
}

.banner .slider .owl-next::before {
    color: #fff;
    content: "";
    font-family: fontawesome;
    font-size: 50px;
    position: absolute;
    right: 10px;
    top: -35px;
}

.banner .slider .owl-prev::before {
    left: 20px;
    top: 150px;
}

.banner .slider .owl-next::before {
    right: 20px;
    top: 150px;
}

.intro a {
    color: #ed1556;
    text-decoration: none;
}


/*Ends Banner Css*/


/*Starts Our Works Css*/

.our-activities-container .tile {
    margin-bottom: 50px;
}

.our-activities-container .tile .desc h4 {
    font-weight: bold;
}

.our-activities .our-activities-container .tile .desc a {
    color: #ed1556;
    text-decoration: none;
}

.our-activities .our-activities-container .left .icon {
    border-radius: 50%;
    font-size: 0;
    height: 90px;
    margin: 10px auto 30px;
    position: relative;
}

.our-activities .our-activities-container .left .icon::after {
    border-radius: 50%;
    content: "";
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%;
}

.our-activities .our-activities-container .left .icon::before {
    display: block;
    left: 25px;
    position: relative;
    text-transform: none;
    top: 25px;
}

.our-activities .our-activities-container .left .icon-infodissemination::before {
    content: url("../img/info-dissemination-red-icon.png");
}

.our-activities .our-activities-container .left .icon-writingwork::before {
    content: url("../img/writing-workshop-red-icon.png");
}

.our-activities .our-activities-container .left .icon-trainingcell::before {
    content: url("../img/training-cell-red-icon.png");
}

.our-activities .our-activities-container .left .icon-neighbour::before {
    content: url("../img/neighbour-red-icon.png");
}

.our-activities .our-activities-container .left .icon-careercouncelling::before {
    content: url("../img/career-councelling-red-icon.png");
}

.our-activities .our-activities-container .left .icon-messageservice::before {
    content: url("../img/message-service-red-icon.png");
}

.our-activities .our-activities-container .left .icon-wbcs::before {
    content: url("../img/wbcs-red-icon.png");
}

.our-activities .our-activities-container .left .icon-scholarship::before {
    content: url("../img/scholarship-red-icon.png");
}

.our-activities .our-activities-container .left .icon-admission::before {
    content: url("../img/admission-red-icon.png");
}

.our-activities .our-activities-container .left .icon-careerpath::before {
    content: url("../img/career-path-red-icon.png");
}

.our-activities .our-activities-container .left .icon-noticeboard::before {
    content: url("../img/notice-board-red-icon.png");
}

.our-activities .our-activities-container .left .icon-weblinks::before {
    content: url("../img/weblinks-red-icon.png");
}

.our-activities .our-activities-container .left .icon-infocircular::before {
    content: url("../img/info-red-icon.png");
}

.our-activities .our-activities-container .left .icon-report::before {
    content: url("../img/report-red-icon.png");
}

/* Effect 5 */

.our-activities .our-activities-container .left .icon-wrapper .icon {
    box-shadow: 0 0 0 4px #ed1556;
    display: block;
    height: 120px;
    overflow: hidden;
    transition: background 0.3s ease 0s, color 0.3s ease 0s, box-shadow 0.3s ease 0s;
    width: 120px;
}

.our-activities .our-activities-container .left .icon-wrapper .icon:after {
    display: none;
}

.our-activities .our-activities-container .left .icon-wrapper .icon:hover {
    background: #ed1556;
    color: #fff;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.3);
}

.our-activities .our-activities-container .left .icon-wrapper .icon:hover:before {
    -webkit-animation: toRightFromLeft 0.3s forwards;
    -moz-animation: toRightFromLeft 0.3s forwards;
    animation: toRightFromLeft 0.3s forwards;
}

.our-activities .our-activities-container .left .icon-wrapper .icon.icon-infodissemination:hover:before {
    content: url("../img/info-dissemination-white-icon.png");
}

.our-activities .our-activities-container .left .icon-wrapper .icon.icon-writingwork:hover:before {
    content: url("../img/writing-workshop-white-icon.png");
}

.our-activities .our-activities-container .left .icon-wrapper .icon.icon-trainingcell:hover:before {
    content: url("../img/training-cell-white-icon.png");
}

.our-activities .our-activities-container .left .icon-wrapper .icon.icon-neighbour:hover:before {
    content: url("../img/neighbour-white-icon.png");
}

.our-activities .our-activities-container .left .icon-wrapper .icon.icon-careercouncelling:hover:before {
    content: url("../img/career-councelling-white-icon.png");
}

.our-activities .our-activities-container .left .icon-wrapper .icon.icon-messageservice:hover:before {
    content: url("../img/message-service-white-icon.png");
}

.our-activities .our-activities-container .left .icon-wrapper .icon.icon-wbcs:hover:before {
    content: url("../img/wbcs-white-icon.png");
}

.our-activities .our-activities-container .left .icon-wrapper .icon.icon-scholarship:hover:before {
    content: url("../img/scholarship-white-icon.png");
}

.our-activities .our-activities-container .left .icon-wrapper .icon.icon-admission:hover:before {
    content: url("../img/admission-white-icon.png");
}

.our-activities .our-activities-container .left .icon-wrapper .icon.icon-careerpath:hover:before {
    content: url("../img/career-path-white-icon.png");
}

.our-activities .our-activities-container .left .icon-wrapper .icon.icon-noticeboard:hover:before {
    content: url("../img/notice-board-white-icon.png");
}

.our-activities .our-activities-container .left .icon-wrapper .icon.icon-weblinks:hover:before {
    content: url("../img/weblinks-white-icon.png");
}

.our-activities .our-activities-container .left .icon-wrapper .icon.icon-infocircular:hover:before {
    content: url("../img/info-white-icon.png");
}

.our-activities .our-activities-container .left .icon-wrapper .icon.icon-report:hover:before {
    content: url("../img/report-white-icon.png");
}



@-webkit-keyframes toRightFromLeft {
    49% {
        -webkit-transform: translate(100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}

@-moz-keyframes toRightFromLeft {
    49% {
        -moz-transform: translate(100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}

@keyframes toRightFromLeft {
    49% {
        transform: translate(100%);
    }
    50% {
        opacity: 0;
        transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}


/*Ends Our Works Css*/

/*Starts News & Newspaper Css*/

.newsnpaper .newsnpaper-container .quick-links ul {
    clear: both;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.newsnpaper .newsnpaper-container .quick-links ul li {
    background: rgba(0, 0, 0, 0) url("../img/news-icon.png") no-repeat scroll 0 0;
    float: left;
    margin-bottom: 10px;
    padding-left: 40px;
    width: 50%;
}

.newsnpaper .newsnpaper-container .quick-links ul li a {
    color: #333333;
    display: block;
    text-decoration: none;
}

.newsnpaper .newsnpaper-container .news .list h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 20px;
}

.newsnpaper .newsnpaper-container .news .desc p {
    font-size: 14px;
}

.newsnpaper .newsnpaper-container .news .desc p:first-child {
    margin: -7px 0 5px;
}

.newsnpaper .newsnpaper-container .news .desc a {
    color: #ed1556;
    font-size: 14px;
    text-decoration: none;
}

.newsnpaper .newsnpaper-container .news .list {
    border-bottom: 1px solid #dcdcdc;
    margin: 0 0 15px;
    padding: 0 0 15px;
}


/*.newsnpaper .newsnpaper-container .news .list:last-child {
    border-bottom: 0 none;
    margin: 0;
}*/

.newsnpaper .newsnpaper-container .subscribe .form {
    clear: both;
    overflow: hidden;
}

.newsnpaper .newsnpaper-container .subscribe .form input[type="email"] {
    border: 1px solid #dcdcdc;
    float: left;
    height: 50px;
    padding: 0 15px;
    width: 70%;
}

.newsnpaper .newsnpaper-container .subscribe .form input[type="submit"] {
    background: #ed1556;
    border: 0 none;
    color: #ffffff;
    float: right;
    font-size: 18px;
    height: 50px;
    width: 30%;
}


.donation .button {
  margin: 0 10px;
}

.donation .button {
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  min-width: 96px;
  line-height: 46px;
  padding: 0 24px;
  font-size: 24px;
  color: white;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px #154c86;
  background-color: #247edd;
  background-clip: padding-box;
  border: 1px solid;
  border-color: #1c65b2 #18589c #18589c;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.donation .button:before {
  content: '';
  position: absolute;
  top: -25%;
  bottom: -25%;
  left: -20%;
  right: -20%;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
}

.donation .button:hover {
  background-color: #1a74d3;
}

.donation .button:active {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 -1px #154c86;
  background: #1f71c8;
  border-color: #113f70 #154c86 #1c65b2;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.4);
  background-image: -webkit-linear-gradient(top, #1a5da5, #3a8be0);
  background-image: -moz-linear-gradient(top, #1a5da5, #3a8be0);
  background-image: -o-linear-gradient(top, #1a5da5, #3a8be0);
  background-image: linear-gradient(to bottom, #1a5da5, #3a8be0);
}

.donation .button:active:before {
  top: -50%;
  bottom: -125%;
  left: -15%;
  right: -15%;
  -webkit-box-shadow: inset 0 0 96px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 96px rgba(0, 0, 0, 0.2);
}

.donation .button-green {
  text-shadow: 0 1px #0d4d09;
  background-color: #1ca913;
  border-color: #147b0e #11640b #11640b;
}

.donation .button-green:hover {
  background-color: #159b0d;
}

.donation .button-green:active {
  text-shadow: 0 -1px #0d4d09;
  background: #189210;
  border-color: #093606 #0d4d09 #147b0e;
  background-image: -webkit-linear-gradient(top, #126d0c, #20c016);
  background-image: -moz-linear-gradient(top, #126d0c, #20c016);
  background-image: -o-linear-gradient(top, #126d0c, #20c016);
  background-image: linear-gradient(to bottom, #126d0c, #20c016);
}

/*Ends News & Newspaper Css*/


/*Starts Site Quick Links Css*/

.site-links .site-links-container ul {
  clear: both;
  list-style-type: none;
  margin: 30px 0;
  overflow: hidden;
  padding: 0;
}

.site-links .site-links-container ul li {
    border-bottom: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    float: left;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    width: 20%;
}

.site-links .site-links-container ul li:nth-child(5n) {
    border-right: 0;
}

.site-links .site-links-container ul li:nth-child(16) {
  border-bottom: 0 none;
}

.site-links .site-links-container ul li:nth-child(17) {
  border-bottom: 0 none;
}

.site-links .site-links-container ul li:nth-child(18) {
  border-bottom: 0 none;
}

.site-links .site-links-container ul li:nth-child(19) {
  border-bottom: 0 none;
}

.site-links .site-links-container ul li:nth-child(20) {
  border-bottom: 0 none;
}

.site-links .site-links-container ul li a {
    display: block;
    margin: 0 10px 20px;
}

.site-links .site-links-container ul li a img {
    display: table;
    margin: 0 auto;
    width: auto;
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -o-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);
    /* Microsoft Edge and Firefox 35+ */
}


/* Disable grayscale on hover */

.site-links .site-links-container ul li a img:hover {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: none;
}


/*Ends Site Quick Links Css*/


/*Starts Copyright Css*/

.copyright {
    background: #2a2a2b;
    color: #ffffff;
    padding: 40px 0 50px;
}

.copyright .right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.copyright .right ul li {
    display: inline-block;
    margin-left: 20px;
}

.copyright .right ul li a {
    color: #ffffff;
    display: block;
    text-decoration: none;
}

.powered-by {
    position: relative;
    top: 30px;
}

.powered-by a {
    color: #fff100;
    text-decoration: underline;
}


/*Ends Copyright Css*/